body {
    background-color: #121212 !important;
    color: #e1e1e1 !important;
}
.btn-primary {
    background-color: #4B9CD3 !important;
    border-color: #4B9CD3 !important;
}
a, a:hover {
    color: #4B9CD3 !important;
}
